<div class="cta__mycreditdrive__widgetcontainer">
    <div class="cta__mycreditdrive__modalLaunch"
         classlist="fw-bold text-uppercase btn btn-gradient-green mb-3 shadow"
         ismodal="true"
         url="https://widget.mycreditdriveapp.com/offerlogix/dist/index.html"
         parentwebsite="http://usedcarscincinnati.com"
         mycreditdriveinputs='{
                    "firstName": "",
                    "lastName": "",
                    "address": "",
                    "city": "",
                    "state": "OH",
                    "zip": "",
                    "phno": "",
                    "email": "",
                    "Source": "23787"
                }'
         customerdetails='{
                    "customerName": "GTX AUTO GROUP",
                    "inventoryLink": "https://usedcarscincinnati.com/Inventory/All",
                    "inventoryLinkText": "Browse Inventory",
                    "footerImg": "https://mycreditdrive.com/images/blob/44_AutoPlai/mywriterate%20-%20logo.png",
                    "submitButtonText": "GET PRE-APPROVED INSTANTLY",
                    "phoneNumber": "(513) 489-2886",
                    "privacyPolicyLink": "https://usedcarscincinnati.com/Home/PrivacyPolicy",
                    "termsLink": "https://usedcarscincinnati.com/Home/TermsAndConditions"
                }'
         odometer=""
         cdsid=""
         voiyear=""
         voimake=""
         voimodel=""
         voitrim=""
         voiused=""
         voistock=""
         vin=""
         purchase=""
         msrp=""
         downpayment=""
         mainmessage="Thank you for submitting your information."
         nopaymentsuccessmessage="You are on your way to being approved."
         disclaimer="Payments do NOT include license or documentary fees nor sales tax. With Approved Credit. Not all applicants will qualify. Lease and loan quoting is a dynamic process so payments and terms are subject to change prior to contract execution by all parties."
         title="@I18n.R("All_InstantPreapproved")"
         subtitle=""
         button-img-url=""
         colorprimary="#28a745"
         colorsecondary="#218838"
         infosectionbackground="#acd2b4"
         buttonprimary="#28a745"
         buttonsecondary="#218838"
         additionalparams='{
                    "DownPaymentPct": "10",
                    "lowestonly": "13",
                    "pic": "1",
                    "event_owner": "AutoPLai"
                }'
         gtmid="G-3XP0RGDV2Y"
         apiparam="550e8400-e29b-41d4-a716-446655440007"
         template="6ba7b810-9dad-11d1-80b4-00c04fd430c8"
         formid="2718"
         validationmessage="You'll Get: Quick-Start Shopping Confidence Online for Faster Paperwork Finishes In-Store™">
    </div>
</div>
