<div class="d-flex justify-content-center align-items-center gap-3 mb-3">
    <input type="search" id="filterTerm" class="form-control d-sm-inline shadow" placeholder="Search within results..." aria-label="Search inventory">
    <h5 class="mb-0">
        <i id="filterLiked" class="bi bi-heart text-danger popoverable" data-bs-toggle="popover" data-bs-content="<span class='text-danger'><strong>Toggle your favorites filter.</strong></span>"></i>
    </h5>
</div>