<div class="d-flex justify-content-center align-items-center gap-3 mb-1">
    <input type="search" id="filterTerm" class="form-control d-sm-inline shadow" placeholder="Search within results..." aria-label="Search inventory">
    <h5 class="mb-0">
        <i id="filterLiked" class="bi bi-heart text-danger"></i>
    </h5>
</div>
<h8 id="filterResults" class="d-flex justify-content-center align-items-center"></h8>
