<a href="#" data-bs-toggle="modal" data-bs-target="#filtersModal">
    <section class="container-fluid page-title">
        <h4 class="text-center text-white">
            @ViewBag.Title
            <i class="bi bi-search d-md-none mx-4"></i>
        </h4>
    </section>
</a>