<a href="#" data-bs-toggle="modal" data-bs-target="#filtersModal">
    <section class="container-fluid page-title popoverable" data-bs-toggle="popover" data-bs-content="<span class='text-danger'><strong>Click to ivoke search dialog.</strong></span>">
        <h4 class="text-center text-white">@ViewBag.Title</h4>
    </section>
</a>