<a href="#" data-bs-toggle="modal" data-bs-target="#filtersModal" title="Click to ivoke the filters dialog.">
    <section class="container-fluid page-title">
        <h2 class="text-white text-center" title="Click to invoke search dialog">@ViewBag.Title</h2>
    </section>
</a>