<section class="container-fluid page-title position-relative d-flex align-items-center justify-content-center">
    <!-- Prev button (far left) -->
    <span class=" position-absolute start-0 top-50 translate-middle-y ms-3">
        <a id="btnPrev" href="#" class="btn btn-gradient-grey border-black shadow rounded-4 d-none" type="button" title="Previous vehicle">
            <i class="bi bi-caret-left-fill"></i>
        </a>

        <a id="btnUp" href="/inventory/index" class="btn btn-gradient-grey border-black shadow rounded-4 d-none" type="button" title="Back to inventory">
            <i class="bi bi-caret-up-fill"></i>
        </a>
    </span>

    <a id="title" href="#" data-bs-toggle="modal" data-bs-target="#filtersModal" class="text-decoration-none">
        <h5 class="text-center text-white fancy m-0">
            @Html.Raw(ViewBag.Title)
            <i class="bi bi-search d-md-none ms-2"></i>
        </h5>
    </a>
    <div id="shorts" class="d-none d-md-flex align-items-center gap-1 position-absolute end-0 top-50 translate-middle-y ps-2 mx-3">
        <a id="loanApplication" href="/Home/Application" class="btn btn-gradient-grey border-black shadow rounded-4" type="button">Loan application</a>
        <a id="contactUs" href="@Url.RouteUrl("Default", new { controller = "Home", action = "Contact" })" class="btn btn-gradient-grey border-black shadow rounded-4" type="button">Contact us</a>
        <a id="testDrive" href="@Url.RouteUrl("TestDriveContact")" class="btn btn-gradient-grey border-black shadow rounded-4" type="button">Schedule test drive</a>
    </div>

    <!-- Next button (far right) -->
    <a id="btnNext" href="#" class="btn btn-gradient-grey border-black shadow rounded-4 position-absolute end-0 top-50 translate-middle-y me-3 d-none" type="button" title="Next vehicle">
        <i class="bi bi-caret-right-fill"></i>
    </a>
</section>
