<a href="#" data-bs-toggle="modal" data-bs-target="#filtersModal" title="Click to ivoke the filters dialog.">
    <section class="container-fluid page-title popoverable" data-bs-toggle="popover" data-bs-content="<span class='text-danger'><strong>Click to ivoke the filters dialog.</strong></span>">
        <h4 class="text-center text-white" title="Click to invoke search dialog">@ViewBag.Title</h4>
    </section>
</a>