<section class="container-fluid page-title position-relative d-flex align-items-center justify-content-center">
    <!-- Prev button (far left) -->
    <span class=" position-absolute start-0 top-50 translate-middle-y ms-3">
        <a id="btnPrev" href="#" class="btn btn-gradient-grey border-black shadow rounded-4 d-none" type="button" title="Previous vehicle">
            <i class="bi bi-caret-left-fill"></i>
        </a>

        <a id="btnUp" href="/inventory/index" class="btn btn-gradient-grey border-black shadow rounded-4 d-none" type="button" title="Back to inventory">
            <i class="bi bi-caret-up-fill"></i>
        </a>
    </span>

    <a id="title" href="#" data-bs-toggle="modal" data-bs-target="#filtersModal" class="text-decoration-none d-flex align-items-center justify-content-center gap-2 w-75 position-relative px-2">
        <!-- Centered title (stays centered even with the icon) -->
        <h5 class="m-0 text-white fancy text-truncate text-center"
            style="max-width: 85vw;">
            @Html.Raw(ViewBag.Title)
        </h5>

        <!-- Right-aligned icon on mobile -->
        <i class="bi bi-search d-md-none fs-4 text-white position-absolute end-0 me-2"></i>
    </a>

    <div id="shorts" class="d-none d-md-flex align-items-center gap-1 position-absolute end-0 top-50 translate-middle-y ps-2 mx-3">
        <a id="loanApplication" href="/Home/Application" class="btn btn-success rounded-4" type="button">💲Get prequalified</a>
        <a id="contactUs" href="@Url.RouteUrl("Default", new { controller = "Home", action = "Contact" })" class="btn btn-primary rounded-4" type="button">🏢Contact us</a>
        <a id="testDrive" href="@Url.RouteUrl("TestDriveContact")" class="btn btn-warning rounded-4" type="button">📅Schedule test drive</a>
    </div>

    <!-- Next button (far right) -->
    <a id="btnNext" href="#" class="btn btn-gradient-grey border-black shadow rounded-4 position-absolute end-0 top-50 translate-middle-y me-3 d-none" type="button" title="Next vehicle">
        <i class="bi bi-caret-right-fill"></i>
    </a>
</section>
