<div class="d-flex justify-content-evenly rounded p-3 gap-3 my-3">
    @{
        GTX.Models.OpenHours[] openHours = Utility.XMLHelpers.XmlRepository.GetOpenHours();
        if (openHours != null) {
            foreach (var open in openHours) {
                <button type="button" class="btn btn-outline-secondary shadow position-relative">
                    @open.Description
                    <span class="position-absolute top-0 start-100 translate-middle shadow badge rounded bg-dark">
                        @open.Day
                    </span>
                </button>
            }
        }
    }
</div>

<div class="d-flex justify-content-evenly rounded p-3 gap-3">
    <img class="well w-50 rounded-2 shadow" src="@Url.Content("~/GTXImages/gtx.jpg")">
    <iframe loading="lazy"
            allowfullscreen
            referrerpolicy="no-referrer-when-downgrade"
            src="https://www.google.com/maps?q=9516+Prinston+Glendale+Rd,+West+Checter,+OH, 45011&output=embed"
            class="well w-75 shadow">
    </iframe>
</div>