<div class="input-group">
    <input type="text" id="term" class="term form-control" placeholder="Search inventory" aria-label="Search inventory" aria-describedby="addon-wrapping">
    <span class="input-group-text bi bi-search" title="Search..."></span>
    <span class="input-group-text bi bi-ev-front" id="reset" onclick="javascript: reset();" title="Reset current filter"></span>
</div>

<script>
    $(function () {

    });
</script>
