<div class="input-group no-wrap-group">
    <input type="search" id="term" class="term form-control  rounded-start-4 no-click" aria-label="Search inventory" aria-describedby="addon-wrapping" title="Searching inventory">

    <button class="btn btn-gradient-grey border-dark no-click add-on m-0" title="Search inventory" >
        <i class="bi bi-search"></i>
    </button>

    <button class="btn btn-gradient-grey border-dark add-on rounded-end-4" id="reset" onclick="reset();" title="Reset inventory">
        <i class="bi bi-ev-front"></i>
    </button>
</div>
