<div class="input-group no-wrap-group">
    <input type="search" id="term" class="term form-control" style="width: 350px" placeholder="Search inventory" aria-label="Search inventory" aria-describedby="addon-wrapping">
    <button class="btn btn-light" type="button" title="Search...">
        <i class="bi bi-search"></i>
    </button>

    <button class="btn btn-light" type="button" id="reset" onclick="reset();" title="Reset current filter">
        <i class="bi bi-ev-front"></i>
    </button>
</div>

<script>
    $(function () {
    });
</script>
