<div class="modal modal-xl fade" id="filtersModal" tabindex="-1" aria-labelledby="filtersModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <img src="~/GTXImages/GTX-White.png" width="60" />
                <h5 class="modal-title mx-3">Choose your filters</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                @{Html.RenderPartial("_FiltersForm");}
            </div>
            <div class="modal-footer mt-3">
                <button type="button" class="btn btn-close-white rounded-4 shadow" data-bs-dismiss="modal">
                    <i class="bi bi-x-lg"></i>
                    Close
                </button>
                <button type="button" class="btn btn-gradient-grey border-dark rounded-4 shadow" id="btnSearch">
                    <i class="bi bi-search"></i>
                    Search
                </button>
            </div>
        </div>
    </div>
</div>