<div class="input-group">
    <input type="search" id="term" class="term form-control" style="width: 350px" placeholder="Search inventory" aria-label="Search inventory" aria-describedby="addon-wrapping">
    <span class="input-group-text bi bi-search" title="Search..."></span>
    <span class="input-group-text bi bi-ev-front" id="reset" onclick="reset();" title="Reset current filter"></span>
</div>

<script>
    $(function () {
    });
</script>
