<div class="offcanvas offcanvas-top shadow m-5 h-50 rounded" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
    <div class="offcanvas-header header__top shadow">
        <h5 class="text-white" id="offcanvasTopLabel">Search</h5>
        <button type="button" class="btn-close btn-close-white text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body well">
        <select multiple class="chosen-select" tabindex="8">
            <option data-value="Honda">Honda</option>
            <option data-value="Toyota">Toyota</option>
            <option data-value="Ford">Ford</option>
            <option data-value="Audi">Audi</option>
            <option data-value="Volvo">Volvo</option>
            <option data-value="Chevrolet">Chevrolet</option>
            <option data-value="Dodge">Dodge</option>
            <option data-value="Subaru">Subaru</option>
        </select>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $(".chosen-select").chosen({
            placeholder_text_multiple: "Select make(s)",
            no_results_text: "No makes for search criteria"
        }).change(function (event) {
            var allSelected = "";
            $.each(this.selectedOptions, function (i, e) {
                allSelected += $(e).attr("data-value");
            });
        });

        $(".chosen-container").addClass("shadow w-25 text-shadow-small");
        $(".search-field").css("margin", "5px")
    })
</script>