@model List<GTX.Models.AnnouncementModel>

@{
    ViewBag.Title = "Announcements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Include stylesheet -->
<link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
<!-- Include the Quill library -->
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>

@Html.Partial("_AnnouncementModal")
<div id="tab-announcement" class="p-3">
    @Html.Partial("_Announcement", Model)
</div>