@{
    @model GTX.Models.BaseModel
    if (Model.Inventory.Vehicles.Count() > 0) {
        Html.RenderPartial("_FilterByTerm");
    }

}

<style>
    .small-offcanvas {
        height: 10rem !important;
    }
</style>

<div class="offcanvas offcanvas-end small-offcanvas" tabindex="-1" id="smallCanvas" data-bs-backdrop="false">
    <div class="offcanvas-header gradient">
        <h5 class="offcanvas-title">Please contact for test drive</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body d-flex justify-content-center align-items-center well">
        <div class="d-flex justify-content-center align-items-center gap-3 flex-wrap">
            <a href="/Home/Application" class="btn btn-primary shadow" type="button">Get pre-approval</a>
            <a href="/Home/Contact" class="btn btn-primary shadow" type="button">Contact us</a>
        </div>
    </div>
</div>

<!-- Scrollable wrapper -->
<div class="inventory-wrapper py-4">
    <ul id="inventory" class="d-flex flex-wrap justify-content-center gap-2">
        @{
            if (Model.Inventory.Vehicles != null) {
                foreach (var vehicle in Model.Inventory.Vehicles) {
                    @Html.Partial("_Card", vehicle)
                }
            }
            else {
                <li>
                    <h6 class="well shadow-lg p-3">No vehicles found....</h6>
                </li>
            }
        }
    </ul>
</div>

<script type="text/javascript">
    $(function () {
        $(".body-content").on('scroll', function () {
            if ($(this).scrollTop() > 100) {
                new bootstrap.Offcanvas(document.getElementById('smallCanvas')).show();
            }
        });

        $(window).on('pageshow', function (event) {
            loadLikedCars();
            refreshCarLikes();
        });

        $(".card").on("click", function () {
            const stock = $(this).data("stock");
            if (stock) {
                window.location.href = `${root}Inventory/Details?stock=${stock}`
            }
        });

        $(".no-click").on("click", function (e) {
            e.stopPropagation();
        });

        refreshCarLikes();
    })

    function refreshCarLikes() {
        $(".card").each(function () {
            var stock = $(this).data("stock");
            if (isCarLiked(stock)) {
                $(this).find(".liked").show();
            }
            else {
                $(this).find(".liked").hide();
            }
        });
    }
</script>
