@{
    @model GTX.Models.BaseModel
    Html.RenderPartial("_CategoryFilter");
    Html.RenderPartial("_PageTitle");
}
<div class="searchTop">
    @{
        if (Model.Inventory.Vehicles.Count() > 0) {
            Html.RenderPartial("_FilterByTerm");
        }
    }
</div>

<ul id="inventory" class="d-flex flex-wrap gap-2 justify-content-center my-5">
    @{
        if (Model.Inventory.Vehicles != null) {
            foreach (var vehicle in Model.Inventory.Vehicles) {
                @Html.Partial("_Card", vehicle)
            }
        }
        else {
            <h6 class="well shadow-lg p-3">No records found....</h6>
        }
    }
</ul>

<script type="text/javascript">
    $(function () {
        $(window).on('pageshow', function (event) {
            loadLikedCars();
            refreshCarLikes();
        });

        $(".card").on("click", function () {
            const stock = $(this).data("stock");
            if (stock) {
                window.location.href = `${root}Inventory/Details?stock=${stock}`
            }
        });

        $(".no-click").on("click", function (e) {
            e.stopPropagation();
        });

        refreshCarLikes();
    })

    function refreshCarLikes() {
        $(".card").each(function () {
            var stock = $(this).data("stock");
            if (isCarLiked(stock)) {
                $(this).find(".liked").show();
            }
            else {
                $(this).find(".liked").hide();
            }
        });
    }
</script>
