@{
    @model GTX.Models.BaseModel
    Html.RenderPartial("_PageTitle");
}
<div class="modal modal-xl fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content" id="vehicle-details">

        </div>
    </div>
</div>

<ul id="inventory" class="d-flex flex-wrap gap-2 justify-content-center mt-2">
    @{ 
        if (Model.Inventory.Vehicles != null) {
            foreach (var vehicle in Model.Inventory.Vehicles) {
                @Html.Partial("_Card", vehicle)
            }
        }
        else { 
            <h6 class="well shadow-lg p-3">No records found....</h6>
        }
    }
</ul>

<script type="text/javascript">
$(function() {
    $(".hover-bw").on("click", function () {
        const stock = $(this).data("stock");
        if (stock) {
            $.get(`${root}Inventory/Details`, { "stock": stock })
                .done(function (html) {

                    $("#vehicle-details").html(html);
                    $("#detailsModal").modal("show");
                })
        }
    });
})
</script>