@{
    @model GTX.Models.BaseModel
}
<div class="modal modal-xl fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-fullscreen-lg-down">
        <div class="modal-content" id="vehicle-details">

        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
    })
</script>