@{
    Html.RenderPartial("_PageTitle");
}
<section class="container-fluid d-flex justify-content-center">
    <div class="well row col-lg-8 m-5 p-3 shadow">
        <div class="col-lg-4 col-md-6">
        </div>
        <div class="col-lg-4 col-md-6">
        </div>
        <div class="col-lg-4 col-md-6">
        </div>
    </div>
</section>
