@model GTX.Models.ContactModel
@{
    Html.RenderPartial("_PageTitle");
}

@Html.Partial("_Schedule")

<div class="container-fluid d-flex justify-content-center">
    <div class="well row mt-3 p-3 rounded shadow">
        <div class="col-lg-6">
            <img class="w-50 rounded-2 shadow" src="@Url.Content("~/GTXImages/gtx.jpg")">
            <h3 class="card-title mt-3">Firfield Showroom</h3>
            <p class="card-text">
                9516 PRINCETON GLENDALE RD, West Chester, OH 45011<br />
                (513) 912-4574
            </p>
        </div>
        <div class="col-lg-6">
            @{ Html.RenderPartial("_ContactForm", Model.Contact); }
        </div>
    </div>
</div>
