<style>
    .body-content {
        margin-top: 3rem;
        height: 70rem;
    }

</style>

<!-- Hero Section Begin -->
<section class="hero set-bg" data-setbg="@Url.Content("~/GTXImages/GTX-Index-3.png")">
    <div class="slogan-big">Many happy families</div>
    <div class="slogan-small">Driving our cars</div>
    <div class="btn-container d-flex justify-content-center gap-3 flex-wrap">
        <a href="/Home/Application" class="btn btn-big-gradient shadow" type="button">Get pre-approval</a>
        <a data-bs-toggle="modal" class="btn btn-big-gradient " data-bs-target="#filtersModal">Search inventory</a>
        <a href="/Home/Contact" class="btn btn-big-gradient shadow" type="button">Contact us</a>
    </div>
</section>
<!-- Hero Section End -->
<script>
    $(function () {
    });
</script>
