@model GTX.Models.BaseModel
<!-- Hero Section Begin -->

<a data-bs-toggle="modal" data-bs-target="#filtersModal">
    <video class="video-background" autoplay muted loop playsinline>
        <source src="~/GTXImages/video/videoplayback.mp4" type="video/mp4" />
    </video>
    <div class="d-flex justify-content-center align-items-center" style="height: 550px">
        <div class="fake-input hand-pointer shadow" data-bs-toggle="modal" data-bs-target="#filtersModal">
            @{ Html.RenderPartial("_SearchByTerm"); }
        </div>
    </div>
</a>

<!-- Hero Section End -->
<script>
    $(function () {
    });
</script>
