@model GTX.Models.BaseModel

<style>
    .body-content {
        margin-top: 45px;
    }
</style>

<!-- Hero Section Begin -->
<section class="hero set-bg" data-setbg="@Url.Content("~/GTXImages/GTX-Index-3.png")">
    <div class="slogan-big">Many happy families</div>
    <div class="slogan-small">Driving our cars</div>
    <div class="btn-container">
        <a href="/Home/Application" class="btn btn-big-gradient shadow" type="button">Get pre-approval</a>
        <a data-bs-toggle="modal" class="btn btn-big-gradient " data-bs-target="#filtersModal">Search inventory</a>
    </div>
</section>
<!-- Hero Section End -->
<script>
    $(function () {
    });
</script>
