@*<div class="video-background" aria="true">
    <video class="video-background-video" autoplay muted loop playsinline webkit-playsinline preload="auto" poster="~/GTXImages/GTX-poster.jpg">
        <source src="~/GTXImages/video/GTX.MP4" type="video/mp4" />
    </video>
</div>*@
<style>
    .body-content {
        margin-top: 10rem;
        height: 70rem;
    }

    .slogan-container {
        position: absolute;
        top: 4rem;
        height: 6rem;
        width: 100%;
        z-index: 10;
    }
</style>

<section class="hero set-bg" data-setbg="@Url.Content("~/img/hero/cin5.jpg")">
    <div class="slogan-container btn-gradient-grey">
        <div class="slogan-big">Your car, your style, your way</div>
        <div class="slogan-small">Top rated dealer in Cincinnati</div>
    </div>

    <div id="homeSearch" class="position-absolute w-25 top-50 start-50 translate-middle">
        <a class="fake-input hand-pointer my-5" data-bs-toggle="modal" data-bs-target="#filtersModal">
            <div class="input-group no-wrap-group">
                <input type="search" class="term form-control no-click rounded-start-4 rounded-end-4 border-start-0 shadow"
                       aria-label="Search inventory" aria-describedby="addon-wrapping" title="Searching inventory"
                       style="height:55px" />
            </div>
        </a>
    </div>

    <div class="d-flex justify-content-center align-items-center w-100">
        <div class="btn-container d-flex justify-content-center align-items-center gap-xxl-5 w-100 flex-nowrap">
            <a href="/Home/Application" class="btn btn-big-gradient-green shadow" type="button"><span class="bi bi-currency-dollar" /><span class="mx-3">Get prequalified</span></a>
            <a href="@Url.RouteUrl("Default", new { controller = "Home", action = "Contact" })" class="btn btn-big-gradient shadow" type="button"><span class="bi bi-person-vcard" /><span class="mx-3">Contact us</span></a>
            <a href="@Url.RouteUrl("TestDriveContact")" class="btn btn-big-gradient-yellow shadow" type="button"><span class="bi bi-calendar3" /><span class="mx-3">Schedule test drive</span></a>
        </div>
    </div>
</section>

<script>
    $(function () {
        const backgrounds = [
            'url("../img/hero/cin2.jpg")',
            'url("../img/hero/cin3.jpg")',
            'url("../img/hero/cin4.jpg")',
            'url("../img/hero/cin5.jpg")'
        ];

        var bgIndex = 0;
        setInterval(() => {
            makeChange();
            getNow();
        }, 60000); // 1 min

        $(".hero").on("click", function () {
            makeChange();
        });

        function makeChange() {
            $(".hero").css("background-image", backgrounds[bgIndex]);
            bgIndex = (bgIndex + 1) % backgrounds.length;
        }
    });
</script>
