@{
    ViewBag.Title = "GTX Home Page";
}

    <!-- Hero Section Begin -->
    <section class="hero spad set-bg" data-setbg="../img/hero-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="hero__text">
                        <div class="hero__text__title">
                            <span>BUY YOUR DREAM CAR</span>
                            <h2>АИД БЕНЦ S</h2>
                            <span class="car-model">Model 1967</span>
                        </div>
                        <div class="hero__text__price">
                            <h2>$399<span>/Month</span></h2>
                        </div>

                        <a class="btn btn-primary" href="#" role="button"">
                        <img src="../img/wheel.png" alt=""> Test Drive</a>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class=" rounded hero__tab__form">
                        <h2>Buy Your Dream Car</h2>
                        <form>
                            <div class="select-list">
                                <div class="select-list-item">
                                    <p>Select Year</p>
                                    <select class="form-select shadow-sm bg-body rounded">
                                        <option selected></option>
                                        <option value="">2020</option>
                                        <option value="">2019</option>
                                        <option value="">2018</option>
                                        <option value="">2017</option>
                                        <option value="">2016</option>
                                        <option value="">2015</option>
                                    </select>
                                </div>
                                <div class="select-list-item">
                                    <p>Select Year</p>
                                    <select class="form-select shadow-sm rounded">
                                        <option selected></option>
                                        <option value="">Acura</option>
                                        <option value="">Audi</option>
                                        <option value="">Bentley</option>
                                        <option value="">BMW</option>
                                        <option value="">Bugatti</option>
                                    </select>
                                </div>
                                <div class="select-list-item">
                                    <p>Select Year</p>
                                    <select class="form-select shadow-sm rounded">
                                        <option selected></option>
                                        <option value="">Q3</option>
                                        <option value="">A4 </option>
                                        <option value="">AVENTADOR</option>
                                    </select>
                                </div>
                                <div class="select-list-item">
                                    <p>Select Year</p>
                                    <select class="form-select shadow-sm rounded">
                                        <option selected></option>
                                        <option value="">27</option>
                                        <option value="">25</option>
                                        <option value="">15</option>
                                        <option value="">10</option>
                                    </select>
                                </div>
                            </div>
                            <div class="car-price">
                                <p>Price Range:</p>
                                <div class="price-range-wrap">
                                    <div class="price-range"></div>
                                    <div class="range-slider">
                                        <div class="price-input">
                                            <input type="text" id="amount">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="shadow btn btn-primary">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->
