<style>
    .body-content {
        margin-top: 10rem;
        height: 70rem;
    }

    .slogan-container {
        position: absolute;
        top: 3rem;
        height: 9rem;
        width: 100%;
        z-index: 10;
    }
    @@media only screen and (max-width: 479px) {
        #GTX-image img {
            width: 150px;
            margin-left: 10%;
            margin-top: 3%;
        }

        .slogan-container {
            top: 0rem;
            height: 5rem;
        }
    }

    @@media only screen and (max-width: 767px) {
    }


</style>

<section class="hero">
    <video class="video-background-video" autoplay muted loop playsinline webkit-playsinline preload="auto">
        <source src="~/GTXImages/video/GTX.MP4" type="video/mp4" />
    </video>

    <div class="slogan-container btn-gradient-grey">
        <div id="GTX-image">
            <img src="~/GTXImages/gtx-autogroup.png" width="600" />
        </div>
        <div class="slogan-big end-0 mx-lg-5">Your car, your style, your way</div>
        <div class="slogan-small position-absolute">Top rated dealer in Cincinnati</div>
    </div>

    <div id="homeSearch" class="position-absolute w-25 top-50 start-50 translate-middle">
        <a class="fake-input hand-pointer my-5" data-bs-toggle="modal" data-bs-target="#filtersModal">
            <div class="input-group no-wrap-group">
                <input type="search" class="term form-control no-click rounded-start-4 rounded-end-4 border-start-0 shadow"
                       aria-label="Search inventory" aria-describedby="addon-wrapping" title="Searching inventory"
                       style="height:55px" />
            </div>
        </a>
    </div>

    <div class="d-flex justify-content-center align-items-center w-100">
        <div class="btn-container d-flex justify-content-center align-items-center gap-xxl-5 w-100 flex-nowrap">
            <a href="/Home/Application" class="btn btn-big-gradient-green shadow" type="button"><span class="bi bi-currency-dollar" /><span class="mx-3">Get prequalified</span></a>
            <a href="@Url.RouteUrl("Default", new { controller = "Home", action = "Contact" })" class="btn btn-big-gradient shadow" type="button"><span class="bi bi-person-vcard" /><span class="mx-3">Contact us</span></a>
            <a href="@Url.RouteUrl("TestDriveContact")" class="btn btn-big-gradient-yellow shadow" type="button"><span class="bi bi-calendar3" /><span class="mx-3">Schedule test drive</span></a>
        </div>
    </div>
</section>

<script>
    $(function () {
        $("#fakeSearch").css("visibility", "hidden");
        $("#GTX-image").removeClass("d-md-inline-block");

@*        const backgrounds = [
            'url("../img/hero/cin2.jpg")',
            'url("../img/hero/cin3.jpg")',
            'url("../img/hero/cin4.jpg")',
            'url("../img/hero/cin5.jpg")'
        ];

        var bgIndex = 0;
        setInterval(() => {
            makeChange();
            getNow();
        }, 60000); // 1 min

        $(".hero").on("click", function () {
            makeChange();
        });

        function makeChange() {
            $(".hero").css("background-image", backgrounds[bgIndex]);
            bgIndex = (bgIndex + 1) % backgrounds.length;
        }*@
    });
</script>
