@{
    @model GTX.Models.HomeModel
}
<!-- Hero Section Begin -->
<section class="hero spad set-bg" data-setbg="@Url.Content("~/img/hero/cin1.jpg")">
</section>

<div class="well">
    <marquee behavior="scroll" class="mt-2" scrollamount=10>
        <h3>
            Cincinnati Drives GTX. You Road Begins Here.
            GTX Autogroup — Where Used Feels New.
            Driven by Value. Backed by Trust.
            Your Hometown Dealership with Big-Time Deals.
        </h3>
    </marquee>
</div>

<!-- Hero Section End -->

<script>
    $(function () {
        const backgrounds = [
            'url("../img/hero/cin1.jpg")',
            'url("../img/hero/cin2.jpg")',
            'url("../img/hero/cin3.jpg")',
            'url("../img/hero/cin4.jpg")',
            'url("../img/hero/cin5.jpg")',
            'url("../img/hero/cin6.png")'
        ];

        let bgIndex = 0;
        setInterval(() => {
            console.info(backgrounds[bgIndex]);
            $(".hero").css("background-image", backgrounds[bgIndex]);
            bgIndex = (bgIndex + 1) % backgrounds.length;
        }, 10000); // 10 seconds
    })
</script>
