<div class="video-background" aria="true">
    <video class="video-background-video" autoplay muted loop playsinline webkit-playsinline preload="auto" poster="~/GTXImages/GTX-poster.jpg">
        <source src="~/GTXImages/video/GTX.MP4" type="video/mp4" />
    </video>
</div>

<div id="homeSearch" class="position-absolute w-25 top-50 start-50 translate-middle">
    <a class="fake-input hand-pointer my-5" data-bs-toggle="modal" data-bs-target="#filtersModal">
        <div class="input-group no-wrap-group">
            <input type="search" class="term form-control no-click rounded-start-4 rounded-end-4 border-start-0 shadow"
                   aria-label="Search inventory" aria-describedby="addon-wrapping" title="Searching inventory"
                   style="height:55px"/>
        </div>
    </a>
</div>

<div class="d-flex justify-content-center align-items-center w-100">
    <div class="btn-container d-flex justify-content-center align-items-center gap-2 flex-wrap w-100">
        @*
        <a data-bs-toggle="modal" class="btn btn-big-gradient shadow" data-bs-target="#filtersModal">Search inventory</a>
        <a href="/Inventory/Index" class="btn btn-big-gradient shadow" type="button">All inventory</a>
        *@
        <a href="/Home/Application" class="btn btn-big-gradient shadow" type="button">Get pre-approval</a>

        <a href="@Url.RouteUrl("Default", new { controller = "Home", action = "Contact" })"
           class="btn btn-big-gradient shadow" type="button">Contact us</a>

        <a href="@Url.RouteUrl("TestDriveContact")"
           class="btn btn-big-gradient shadow" type="button">Schedule test drive</a>
    </div>
</div>

<script>
    $(function () {
        $("#fakeSearch").css("visibility", "hidden");
    })
</script>